@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Playfair+Display:wght@500;600&display=swap");

@import "./theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Playfair Display", serif;
    background: #f7f3fb;
  }
}
